*{
    margin: 0;
    padding: 0;
    box-sizing: border-box border-box;
}
body {
    color: #ffffff;
   
    background : #1d1d1d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    color: #ffffff;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 100%, 48%, 0.081), hsla(0, 0%, 7%, 0.565), hsl(0, 100%, 67%)),url(../images/Dark\ Souls\ III\ HD\ Wallpaper.png);
    background: linear-gradient(to right, hsla(0, 100%, 48%, 0.081), hsla(0, 0%, 7%, 0.565), hsl(0, 100%, 67%)),url(../images/Dark\ Souls\ III\ HD\ Wallpaper.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 500px;
    
                                                

}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
img {
    width: 120px;
    height: 120px;
    float: left;
    
  
  }

header.navbar{
    background: #0F2027;
    text-align: right;
    float: left;
    list-style: none;
    padding: 30px 50px 0 0;
    margin: 10px;
}

nav > a {
    
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav {
    float: right;
    background: #000000;
  }
  
  nav ul li {
    
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }


header.textos-header{
    color: #ffffff;
    display: flex;
    height: 330px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.metas {
    color: #ffffff;
    
    width: 800px ;
    height: 600px;
    text-align: center; 
    margin: 20px;
    margin-left: 150px;
    font-size:xx-large;
}
.objetivo{
    color: #ffffff;
    
    width: 800px;
    height: 400px;
    text-align: center; 
    margin: 20px;
    margin-left: 150px;
    font-size:xx-large;
    
}
.mecanicas{
    color: #ffffff;
    
    width: 800px;
    height: 400px;
    text-align: center; 
    margin: 20px;
    margin-right: 200px;
    font-size:xx-large;
    float: right;

}
.objetivoImagen{
    float: right;
    margin-right: 100px;
    width: 700px;
    height: 400px;
    align-items: right;
    bottom: 0%;
    clear: both;
}
.mapaImagen{
    
    margin-right: 100px;
    width: 700px;
    height: 400px;
    align-items: right;
    bottom: 0%;
    float: right;
    clear: both;
}
.titulo{
    font-family: fuentepropia;
   
    text-align: center;
    font-size:xx-large;
    
}
@font-face {
    font-family: fuentepropia;
    src: url(adsa.ttf);
}

.mecanicasImagen{
    float: left;
    width: 700px;
    height: 400px;
    align-items: right;
    bottom: 0%;
    clear: both;
    padding: 4px;
    margin-left: 100px;
}
.logoImagen{
    align-self: center;
    width: 350px;
    height: 150px;
    margin: 4px;
    padding: 4px;

}
.ntexto{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    font-size: larger;
}
.recompensas{
    align-items: center;
    margin: 0 auto;
    font-size: x-large;

    width: 1000px;
    height: 500px;

}
td{border: #ffffff 5px solid;}
th{border: #ffffff 5px solid;}
.disclaimer{
    text-align: center;
    color: #b3b3b3;
}
.contenedor{
    margin: auto;
    }
    .sobre-nosotros{
        width: 100%;
        margin: auto;
    }
    .nos-titulo{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    }
    
    article{
      float: left;
      width: 250px;
      height: 300px;
      margin: 4px;
      padding: 10px 4px;
      border: rgb(255, 244, 244) 3px solid;
      background-color: #0d0b0b;
      font-family:Georgia, 'Times New Roman', Times, serif;
      border-radius: 25px;
      text-align: center;
      align-content: center;
      color: #ffffff;
      margin-left: 20px;
    }
    .imagen{
        border:rgb(255, 244, 244) 2px solid;
        
        width: 100px;
        border-radius: 20% 50%;

    
    }
    
    .redes{
        color: aqua;
        width: 100%;
        font-size: 30px;
        padding: 40px; 
        letter-spacing: 3px;
    }
    .redes-header{
        font-size: 50px; 
    }
    .nosotros{
        text-align: center;
        margin : 50px;

    }
    .redes-icon{
        display: block;
       
        
    }
    
    .imagen{
        border:rgb(255, 244, 244) 4px solid;
        width: 100px;
        margin-left: 70px;
        margin-right: 70px;
        clear: both;
        border-radius: 50% 50%;
    }
    .preguntas{
        background-color: rgb(51, 51, 51);
        text-align: left;
        margin-left: 200px;
        margin-right: 200px;
        
        padding: 5px;
        font-size: larger;
        
    }
    .pregunta{
        font-weight: bold;
        
        
    }
    .respuesta{
        margin-left: 50px;

    }
    .historia{
        text-align: justify;
        margin-left: 200px;
        margin-right: 200px;
        font-size: larger;
    }